.task {
    margin: 0 auto;
    padding: 10px 25px;
    background: rgba(255, 255, 255, 0.1);
    width: 70%;
    border-radius: 20px
}

.task+.task {
    margin-top: 20px;
}

.expired {
    margin-left: 10px;
    color: rgb(230, 143, 13);
}


/* Tablets */
@media (max-width: 780px) {
    .task {
        padding: 30px 25px;
        background: rgba(255, 255, 255, 0.1);
        width: auto;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .task {
        padding: 30px 25px;
        background: rgba(255, 255, 255, 0.1);
        width: auto;
    }
}